<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="baconfusion.beaconnavigationapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="baconfusion.beaconnavigationapp.MainActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="baconfusion.beaconnavigationapp.beaconreference.MonitoringActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="baconfusion.beaconnavigationapp.beaconreference.RangingActivity"
            android:label="@string/app_name" />

        <activity
            android:name="baconfusion.beaconnavigationapp.CalibrationActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
